.home {
  color: white;
}
.opinion {
  color: white;
}
.products {
  color: white;
}
.cart {
  color: white;
}
.contact {
  color: white;
}
.about {
  color: white;
}
.login {
  color: white;
}
.signup {
  text-align: right !important;
  color: white;
}
