.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-left: 60px;
  justify-content: space-between;
}
.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
